<!--预览视图-->
<!--<div class="link-exchange">-->
<!--<dl>-->
<!--<dt>友情链接</dt>-->
<!--<dd th:each="link:${linkList}">-->
<!--<a rel="nofollow" target="_blank" th:href="${link['url']}"-->
<!--th:target="${link['target']}"-->
<!--th:text="${link['title']}">火图科技</a>-->
<!--</dd>-->
<!--</dl>-->
<!--</div>-->
<div xmlns:th="http://www.thymeleaf.org" class="mall-footer" th:id="${componentId}">
    <dl th:each="categoryAndLink : ${dataList}">
        <dt th:text="${categoryAndLink.category.name}">购物指南</dt>
        <dd>
            <p th:each="link:${categoryAndLink.list}">
                <a href="javascript:void(0)" th:if="${link.linkType.isPage()}" data-page="true"
                   th:href="@{/${link.pagePath}}"
                   th:text="${link.title}">购物流程page</a>
                <a href="javascript:void(0)" th:if="${!link.linkType.isPage()}" data-page="false"
                   th:href="${link.linkUrl}"
                   th:text="${link.title}">购物流程</a>
            </p>
        </dd>
    </dl>
</div>

<!--/预览视图-->